<p>
Hi <%= AreaUser.for(@support.area).first_name %>,
</p>

<p>
A user in your region submitted feedback.
</p>

<p>
Please log in with these credentials:
</p>

<p>
Username: <strong><%= @support.area_account %></strong>
</p>

<p>
Password:  <strong>p@ssword1</strong>
</p>

<p>
The url is: <a href="http://www.indirectcalloutcard.com/login">http://www.indirectcalloutcard.com/login</a>
</p>

<p>
Thanks,
</p>

<div><div style="font-family:Calibri,sans-serif;font-size:14px"><span style="font-family:Futura;font-size:12px"><font color="#ff6600">Kit Langton</font>&nbsp;| Client Tech Support</span></div><div><div><p style="font-family:Calibri,sans-serif;font-size:14px;margin:0in 0in 0.0001pt"></p><div style="font-size:14px;font-family:Calibri,sans-serif"><font face="Futura" style="font-size:12px">(C) <a href="tel:973%20619%203946" value="+19736193946" target="_blank">973 619 3946</a></font></div><div style="font-size:14px;font-family:Calibri,sans-serif"><font face="Futura" style="font-size:12px"><a href="mailto:Jeff.Reardon@coloredge.com" style="color:purple" target="_blank">kit.langton@coloredge.com</a>&nbsp;&nbsp;|&nbsp;<a href="http://coloredge.com/" style="color:purple" target="_blank">w<wbr>ww.coloredge.com</a>&nbsp;</font></div><span style="font-family:Futura;font-size:14px"><font color="#ff6600"><div style="margin:0in 0in 0.0001pt"><font color="#ff6600"><br></font></div>color</font>edge</span><span style="font-size:14px;font-family:Calibri,sans-serif"><font face="Futura" style="font-size:12px">132 W 31st street, NYC NY 10001</font></span></div></div></div>
