// Place all the styles related to the support controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: grey;

body {
  font-family: $helvetica;
}

.email {
  border: 1px solid lightgrey;
  padding: 5px;
  margin: 10px;

  .name {
    font-weight: bold;
  }

  .area {
    font-weight: bold;
  }

  .type {
    font-size: 0.8em;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: $primary-color;
    color: white;
  }

  span {
    margin: 5px
  }
}

